In [1]:
import pandas as pd

In [2]:
data1=pd.DataFrame({"A":[4,2,6,8,3],"B":[6,4,8,3,1]})
data2=pd.DataFrame({"C":[8,7,65,4,3],"D":[6,56,87,64,65]})

data1.join(data2)

   A  B   C   D
0  4  6   8   6
1  2  4   7  56
2  6  8  65  87
3  8  3   4  64
4  3  1   3  65

In [3]:
data1=pd.DataFrame({"A":[4,2],"B":[6,4]},index=["a","b"])
data2=pd.DataFrame({"C":[8,7,65,4,3],"D":[6,56,87,64,65]},index=["a","b","c","d","e"])

data1.join(data2)

   A  B  C   D
a  4  6  8   6
b  2  4  7  56

how="inner" | "outer" | "left" | "right"

In [4]:
data1.join(data2,how="outer",lsuffix="_12",rsuffix="_12")

     A    B   C   D
a  4.0  6.0   8   6
b  2.0  4.0   7  56
c  NaN  NaN  65  87
d  NaN  NaN   4  64
e  NaN  NaN   3  65

AttributeError: 'DataFrame' object has no attribute 'append'