In [1]:
import pandas as pd

In [5]:
pythonList=[1,2,3,4,5,6,7]
PandaSeries=pd.Series(pythonList)
PandaSeries

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [6]:
print(type(PandaSeries))

<class 'pandas.core.series.Series'>

In [7]:
print(PandaSeries[2])

3

In [11]:
pandasSeriesWithIndex= pd.Series(pythonList,index=["one","two","three","fourth","five","sixth","saatva"])
pandasSeriesWithIndex

one       1
two       2
three     3
fourth    4
five      5
sixth     6
saatva    7
dtype: int64

In [12]:
pandasSeriesWithIndex= pd.Series(pythonList,index=["one","two","three","fourth","five","sixth","saatva"],dtype="float",name="pythonPandas")
pandasSeriesWithIndex

one       1.0
two       2.0
three     3.0
fourth    4.0
five      5.0
sixth     6.0
saatva    7.0
Name: pythonPandas, dtype: float64

In [14]:
dic = {"name":['pyhton','c','c++','java'],"popularity":[12,32,12,54]}
pandasDictionarySeries = pd.Series(dic)
pandasDictionarySeries

name          [pyhton, c, c++, java]
popularity          [12, 32, 12, 54]
dtype: object

In [16]:
PandaSeries2=pd.Series(12,index=[1,2,3,4,5,6,7])
PandaSeries2

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64

In [18]:
PandaSeries3=pd.Series(42,index=[1,2,3,4])
PandaSeries3

1    42
2    42
3    42
4    42
dtype: int64

In [19]:
PandaSeries4=PandaSeries2+PandaSeries3
PandaSeries4

1    54.0
2    54.0
3    54.0
4    54.0
5     NaN
6     NaN
7     NaN
dtype: float64